---
permalink: /sitemap.xml
eleventyExcludeFromCollections: true
---
<?xml version="1.0" encoding="utf-8"?>
<urlset xmlns="http://www.sitemaps.org/schemas/sitemap/0.9">
  <url><loc>{{ site.baseUrl }}</loc><changefreq>daily</changefreq><priority>1.0</priority></url>
  <url><loc>{{ site.origin }}{{ '/topics/' | u }}</loc><changefreq>weekly</changefreq><priority>0.6</priority></url>
  <url><loc>{{ site.origin }}{{ '/about/' | u }}</loc><changefreq>monthly</changefreq><priority>0.4</priority></url>
  {%- for p in collections.posts %}
  <url>
    <loc>{{ site.origin }}{{ p.url | u }}</loc>
    <lastmod>{{ (p.data.updated or p.date) | isoDate }}</lastmod>
    <changefreq>monthly</changefreq>
    <priority>0.8</priority>
  </url>
  {%- endfor %}
  {%- for c in collections.categories %}
  <url><loc>{{ site.origin }}{{ ('/topics/' + c.slug + '/') | u }}</loc><changefreq>weekly</changefreq><priority>0.5</priority></url>
  {%- endfor %}
  {%- for t in collections.tagList %}
  <url><loc>{{ site.origin }}{{ ('/tags/' + t.slug + '/') | u }}</loc><changefreq>weekly</changefreq><priority>0.3</priority></url>
  {%- endfor %}
</urlset>
